# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
.venv/

# Environment variables
.env

# IDE
.idea/

# Database
*.db

# Bruno files
*.bru
bruno.json
# uv
uv.lock.bak

# Testing
.pytest_cache/

# Alembic
migrations/versions/*.pyc
/.vscode/settings.json
